*{
    margin: 0;
    padding: 0;
    outline: none;
}

body{
    font-family: 'Tajawal', sans-serif;
    background: rgb(32,231,255);
    background: radial-gradient(circle, rgba(32,231,255,1) 0%, rgba(10,123,255,1) 100%);
}
h1{
    font-weight: 700;
    text-align: center;
    margin-top: 20px;
    font-size: 56px;
    color: rgb(41, 41, 41);
}
.input{
    display: flex;
    width: 80%;
    margin: 0 auto;
}
input{
    height: 20px;
    border: none;
    width: 100%;
    padding: 15px;
    font-size: 24px;
}

button{
    width: 50px;
    height: 50px;
    border: none;
    background-color: rgb(226, 239, 255);
    font-size: 20px;
    color: rgba(10,123,255,1);
    cursor: pointer;
}

button:hover{
    color: rgb(142, 194, 255);
    background-color: rgb(41, 41, 41);
    transition: 0.6s;
}
::placeholder{
    color: rgb(41, 41, 41)70%;
}

.todo{
    width: 60%;
    background-color: rgb(239, 247, 255);
    display: flex;
    margin:  auto;
    margin-top: 20px;
    margin-bottom: 50px;
    animation-name: todo;
    animation-duration: 1.6s;
    animation-timing-function: ease-in-out;

}
@keyframes todo {
    0%{background-color: rgb(239, 247, 255);}
    50%{background-color: aquamarine;}
    100%{background-color: rgb(239, 247, 255);}
}

p{
    margin: 10px;
    font-size: 22px;
    flex-grow: 8;
}

.todo button{
    min-width: 50px;
}